$flex-wrap: nowrap  wrap  wrap-reverse;
$align-items: flex-start  flex-end  center  baseline  stretch;
$justify-content: flex-start  flex-end  center  space-between  space-around;
$align-content: flex-start  flex-end  center  space-between  space-around  stretch;
$align-self: auto  flex-start  flex-end  center  baseline  stretch;

$flex:$flex-wrap $align-items $justify-content $align-content $align-self;

// 暂时未找到解决方法
@each $flex-item in $flex{
  @each $item-key in $flex-item{
    p{
      // #{str-slice($flex-item,2)}:#{$item-key};
      // #{$flex-item}:#{$item-key};
      // $flex-item:#{$item-key}
      font-family:$item-key;
      font-family:#{$flex-item}
    }
  }
}