$flex-wrap: (
  flex-wrap: nowrap wrap wrap-reverse,
);
$align-items: (
  align-items: flex-start flex-end center baseline stretch,
);
$justify-content: (
  justify-content: flex-start flex-end center space-between space-around,
);
$align-content: (
  align-content: flex-start flex-end center space-between space-around stretch,
);
$align-self: (
  align-self: auto flex-start flex-end center baseline stretch,
);
$flex: flex-wrap align-items justify-content align-content align-self;

/* :export {
  $flex-wrap:$flex-wrap;
  $align-items:$align-items;
  $justify-content:$justify-content;
  $align-content:$align-content;
  $align-self:$align-self;
  $flex: $flex;
} */
@each $item in $flex {
  font-family: $item;
}
